{{#each state in statelist}}
  <div class="state">
    <p class="state-name column">{{state.name}}</p>
    <p class="state-abbrev column">{{state.abbrev}}</p>
    <p class="state-link column">{{state.link}}</p>
  </div>
{{/each}}
