<div class="statelist">
  <p class="state-name column">Name</p>
  <p class="state-abbrev column">Abbreviation</p>
  <p class="state-link column">Wikipedia Link</p>
{{state-list statelist=model.statelist}}
</div>
{{outlet}}
